* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(21, 33, 83);
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 1rem;
    background: rgb(21, 33, 83);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(172, 156, 156, 0.35);
    border-radius: 10px;
  }
  
  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      -180deg,
      rgb(21, 33, 83) 0%,
      rgb(33, 33, 156) 35%,
      rgb(247, 160, 48) 100%
    );
    width: 100%;
    overflow-x: hidden;
  }